/** input text */
$primaryColor: #006398; // #3f51b5;
$inputBorderColor: #bdbdbd;
$invalidInputLabelColor: #e62a10;
$invalidInputBorderColor: $invalidInputLabelColor;
$inputGroupAddonBgColor: #e6e6e6;
$textboxBgColor: #f7f7f7;

$grayBgColor: #757575;
$radioButtonBorderColor: $grayBgColor;
