<header class="header">
    <nav class="navbar navbar-static-top">
        <a href="index.html" class="logo">
            <!-- Add the class icon to your logo image or logo icon to add the marginin -->
            <img src="./assets/img/logo.png" alt="logo"/>
        </a>
        <!-- Header Navbar: style can be found in header-->
        <!-- Sidebar toggle button-->
        <div>
            <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button"> <i
                    class="fa fa-fw fa-bars"></i>
            </a>
        </div>
        <!--comment from here-->
        <div class="navbar-right">
            <ul class="nav navbar-nav">
                

                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle padding-user" data-toggle="dropdown">
                        <img src="./assets/img/authors/avatar1.jpg" width="35" class="img-circle img-responsive pull-left"
                             height="35" alt="User Image">
                        <div class="riot">
                            <div>
                                Saad
                                <span>
                                        <i class="caret"></i>
                                    </span>
                            </div>
                        </div>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="user-header">
                            <img src="./assets/img/authors/avatar1.jpg" class="img-circle" alt="User Image">
                            <p> Saad Shahid</p>
                        </li>
                        <li role="presentation"></li>
                        <li role="presentation" class="divider"></li>
                        <li class="user-footer">
                            <div class="pull-right">
                                <a href="/logout">
                                    <i class="fa fa-fw fa-sign-out"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>